.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.customer {
    background-color:cornflowerblue;
    border-color: black;
    border-style:solid;
    border: 3p;
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.customer_header{
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.customer_footer{
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}